<div class="about">
<app-navbar></app-navbar>
<div class="row">
    <div class="col1">
        <p class="description">We think that learning is a good way to  improve your knowledge,and we are here whith a revolutionary way</p>
        <p class="description">We know that worldwide are people which can not  acces payed education .For them we are here to help.</p>
        <p class="description">We want to help them by providing  to them a way to learn from everywhere</p>

    </div>
    <div class="col1">
        <img class="imgcol1" src="assets/1.jpg">
    </div>
</div>
<div class="row">
    <div class="col1">
        <p class="description-top">Free online courses,accesible for everyone.</p>
        <p class="description">We offer a free and easy way,accesible for everyone.</p>
        <p class="description-top">How to resolve this?</p>
        <p class="description">The answer is us. Everyone can  join our team and increase their knowledge</p>

    </div>
    <div class="col1">
        <img class="imgcol1" src="assets/2.jpg">
    </div>

</div>
<div>
    <app-footer></app-footer>
</div>

</div>
